@media screen and (max-width: 425px) {
    .d-grid {
        grid-template-columns: repeat(4, auto);
        column-gap: 16px;
        margin: 80px 16px;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 16px;
        height: 64px;
    }

    .header-nav {
        display: none;
    }

    .hero-desq {
        padding: 0 16px;
    }

    .header-logo {
        grid-column: span 2;
    }

    .header-menu {
        display: visible;
    }

    .partner-image {
        padding: 0;
        min-width: 80px;
        height: 24px;
        grid-column: span 2;
    }

    .partners {
        display: block;
        height: auto;
        margin: 0 16px;
    }

    .partners-list {
        gap: 16px;
    }

    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9 {
        display: none;
    }



    h1 {
        font-size: 36px;
        line-height: 56px;
    }


    .hero-image1 {
        position: absolute;
        right: 5%;
        top: 500px;

        width: 105px;
        height: 105px;
    }

    .hero-image2 {
        position: absolute;
        left: -45px;
        top: 515px;

        width: 123px;
        height: 123px;

        filter: blur(9px);
    }

    .hero-image3 {
        position: absolute;
        left: -55px;
        top: 65px;

        width: 114px;
        height: 114px;
    }

    .hero-image4 {
        position: absolute;
        right: 5%;
        top: 96px;

        width: 52px;
        height: 52px;

        filter: blur(9px);
    }


    .card-grid-column {
        grid-column: span 4;
    }

    .card-default {
        position: relative;
        border-radius: 30px;
        object-fit: cover;
        height: 396px;
    }

    .feature {
        grid-column: span 4;
        row-gap: 24px;

    }

    .testimonials {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: 20px 0px;

        justify-content: start;
        padding: 16px;


        .review {
            flex: 0 0 auto;
            width: 200px;
        }
    }

    .review-text {
        overflow: hidden;
    }


    .staff {
        grid-column: span 2;
    }

    .team {
        grid-template-columns: repeat(4, 1fr);
    }

    .review {
        grid-column: span 4;
        padding: 16px;
    }

    .faq-heading {
        grid-column: span 4;
        margin-bottom: 32px;
        margin-top: 8px;
    }

    .text-aling-left {
        text-align: center;

    }

    .question-section {
        grid-column: span 4;
    }

    .c2a-heading {
        grid-column: span 3;
    }

    .c2a-heading h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .c2a-heading p {
        font-size: 12px;
        line-height: 18px;
    }

    .c2a-image1 {
        display: none;
    }

    .c2a-image2 {
        display: none;
    }

    .c2a {
        display: flex;
        height: auto;
        padding: 24px 16px;
    }

    .footer {
        justify-content: space-between;
        align-items: center;
        justify-self: center;
        margin: 32px 16px;
    }

    .copyright {
        grid-column: span 6;
    }


    .footer-nav-1 {
        display: none;
    }

    .footer-nav-2 {
        display: none;
    }

    .footer-mobile {
        display: grid;
    }

    .footer-links {
        grid-column: span 2;
        justify-self: center;
        text-align: center;

        flex-direction: column;
    }

    .footer-nav-link+.footer-nav-link {
        margin-top: 24px;
    }

    .footer-logo {
        order: 1;
        align-self: center;
        justify-self: center;
        grid-column: span 4;
    }
}

@media screen and (max-width: 320px) {
    .partner-image {
        width: 80px;
    }
}